@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Youths OS </title>
    <meta name="keywords" content="" />
    <meta name="description" content="Youths OS" />
    <meta content="width=1100, initial-scale=0.3, maximum-scale=1.0, user-scalable=1" name="viewport" />
    <link rel="apple-touch-icon" href="/resources/flymeos/images/flymeos/flymelogo.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/flymeos/images/flymeos/flymelogo72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/flymeos/images/flymeos/flymelogo114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/resources/flymeos/images/flymeos/flymelogo144.png" />
    <link href="http://flymeos.res.meizu.com/resources/flymeos/css/foot.css?t=1419490018079" type="text/css" rel="Stylesheet" />
    <link href="http://flymeos.res.meizu.com/resources/flymeos/css/home.min.css?t=1419490018079" rel="stylesheet" />
    <link href="http://flymeos.res.meizu.com/resources/flymeos/css/scrollTop.min.css?t=1419490018079" type="text/css" rel="Stylesheet" />
    <script>
        var Page = {
            'waitimg': 'http://common.res.meizu.com/resources/common/images/default/wait.gif',
            'blockid': null,
            'videoAddr': {
                'wh': { 'w': 960, 'h': 540 },
                'webm': 'http://flymeos.res.meizu.com/resources/flymeos/swf/flyme4.webm?v=20140902',
                'mp4': 'http://flymeos.res.meizu.com/resources/flymeos/swf/flyme4.mp4?v=20140902',
                'flv': 'http://flymeos.res.meizu.com/resources/flymeos/swf/flyme4.flv?v=20140902',
                'm9flv': 'http://flymeos.res.meizu.com/resources/flymeos/swf/flyme4.flv?v=20140902',
                'm9flashappaddr': 'http://get.adobe.com/cn/flashplayer/',
                'swf': 'http://common.res.meizu.com/resources/common/vplay.swf'
            }
        };
    </script>
    <!--[if IE 8]>
        <style>
        .section_say .line div {border: none; }
        </style>
    <![endif]-->


</head>
<body>
    <img class="lazy" src="http://www.res.meizu.com/resources/common/images/default/wait.gif" style="display:none" />
    <div class="wrap" id="wrap">

        <div class="header">
            <div id="header" style="visibility:hidden;">
                <ul class="nav">
                    <li><a href="/" class="current" title="首页"><span class="icon_head home_text"><i></i></span></a><span class="text hide">首页</span></li>
                    <li><a target="_blank" href="/app/home/index" title="软件商店"><span class="icon_head store_text"><i></i></span></a></a><span class="text hide">软件商店</span></li>
                    <li><a target="_blank" href="/bbs/home/index" title="论坛"><span class="icon_head bbs_text"><i></i></span></a></a><span class="text hide">论坛</span></li>
                </ul>
                <h1 class="display_ib"><a href="/"><span class="icon_head flyme_text" title="flyme"><i style="background:url(/Content/img/icon_head.png)"></i></span></a></h1>
            </div>
        </div>
        <div class="section bg_white" id="section3">
            <!--  相机  -->
            <div class="content">
                <div class="box display_ib va_t pt50">
                    <p class="ta_l">
                        <span class="text_black camera_title scale"><i data-type="text"></i></span>
                        <span class="text hide">记录  平凡的美好</span>
                    </p>
                    <p class="ta_l pl10 pt20">
                        <span class="text_black camera_info"><i style="display:none" data-type="text"></i></span>
                        <span class="text hide">全新的相机拥有更出众的性能，引入全景、实时美颜、扫码慢速录像等九种拍摄模式。任何一次触动快门，都将镌刻美好时光。 </span>
                    </p>
                </div>
                <div class="box ">
                    <span class="photos display_ib pos_r">
                        <span class="camera"><img width="595" height="844" class="lazy" src="http://common.res.meizu.com/resources/common/images/default/space.gif" style="display:none" data-type="img" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/camera.png" /></span>
                        <span class="camera1"><img width="300" height="300" class="lazy" src="http://common.res.meizu.com/resources/common/images/default/space.gif" style="display:none" data-type="img" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/camera1.png" /></span>
                        <span class="camera2"><img width="300" height="300" class="lazy" src="http://common.res.meizu.com/resources/common/images/default/space.gif" style="display:none" data-type="img" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/camera2.png" /></span>
                        <span class="camera3"><img width="300" height="300" class="lazy" src="http://common.res.meizu.com/resources/common/images/default/space.gif" style="display:none" data-type="img" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/camera3.png" /></span>
                        <span class="camera4"><img width="300" height="300" class="lazy" src="http://common.res.meizu.com/resources/common/images/default/space.gif" style="display:none" data-type="img" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/camera4.png" /></span>
                        <span class="camera5"><img width="300" height="300" class="lazy" src="http://common.res.meizu.com/resources/common/images/default/space.gif" style="display:none" data-type="img" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/camera5.png" /></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="section music_bg" id="section4">
            <!--  音乐  -->
            <div class="content">
                <div class="box display_ib va_t pt100"><span class="music_img1"><img width="300" height="583" class="lazy" src="http://common.res.meizu.com/resources/common/images/default/space.gif" style="visibility:hidden;" data-type="img" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/music_img1.png" /></span></div>
                <div class="box display_ib va_t ta_l pl80 pt90">
                    <p>
                        <span class="text_white music_title"><i data-type="text"></i></span>
                        <span class="text hide">音乐   卓尔不凡</span>
                    </p>
                    <p>
                        <span class="text_white music_info"><i style="display:none" data-type="text"></i></span>
                        <span class="text hide">更强大的曲库与品质，让音乐更出众。此外，智能调节每首歌曲播放界面的色彩系统，让用户享受到视觉与听觉的完美融合。</span>
                    </p>
                    <p class="pt30"><span class="music_img2"><img width="300" height="583" class="lazy" src="http://common.res.meizu.com/resources/common/images/default/space.gif" style="visibility:hidden;" data-type="img" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/music_img2.png" /></span></p>
                </div>
            </div>
        </div>
        <script id='tempScript' type="text/javascript">
            var mobile = /mobile|phone/i;
            var mzDesk = /x11\;/i;
            var ua = navigator.userAgent;
            var isMobile = mobile.test(ua) || mzDesk.test(ua);
            var wrap = document.getElementById('wrap');
            if (isMobile) {
                for (var i = 1; i < 8; i++) {
                    wrap.removeChild(document.getElementById('section' + i));
                }
                wrap.removeChild(document.getElementById('tempScript'));
            }
        </script>
        <div>
            <div class="fullpage_box" id="fullpageBox" style="display:none;">
                <span class="page_list">
                    <a href="javascript:;" class="video_ie6" id="vBtn"></a>
                    <div style="display:none;">
                        <div id="vPlayer" class="shadow"></div>
                    </div>
                    <img class="lazy" width='2560' height='1440' style="z-index:99;" src="http://common.res.meizu.com/resources/common/images/default/space.gif" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/ie6/fullpage1.jpg">
                </span>
                <span class="page_list">
                    <img class="lazy" width='2560' height='1440' style="z-index:98;" src="http://common.res.meizu.com/resources/common/images/default/space.gif" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/ie6/fullpage2.jpg">
                </span>
                <span class="page_list">
                    <img class="lazy" width='2560' height='1440' style="z-index:97;" src="http://common.res.meizu.com/resources/common/images/default/space.gif" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/ie6/fullpage3.jpg">
                </span>
                <span class="page_list">
                    <img class="lazy" width='2560' height='1440' style="z-index:96;" src="http://common.res.meizu.com/resources/common/images/default/space.gif" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/ie6/fullpage4.jpg">
                </span>
                <span class="page_list">
                    <img class="lazy" width='2560' height='1440' style="z-index:95;" src="http://common.res.meizu.com/resources/common/images/default/space.gif" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/ie6/fullpage5.jpg">
                    <div class="clound_ie6">
                        <a href="https://cloud.flyme.cn/browser/contact-list.jsp" class="contact" target="_blank"></a>
                        <a href="https://cloud.flyme.cn/browser/sms-list.jsp" class="sms" target="_blank"></a>
                        <a href="https://cloud.flyme.cn/browser/note.jsp" class="note" target="_blank"></a>
                        <a href="http://finder.flyme.cn" class="findphone" target="_blank"></a>
                    </div>
                </span>
                <span class="page_list">
                    <img class="lazy" width='2560' height='1440' style="z-index:94;" id="" src="http://common.res.meizu.com/resources/common/images/default/space.gif" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/ie6/fullpage6.jpg">
                </span>
                <span class="page_list" style='margin-bottom: 100px;'>
                    <img class="lazy" width='2560' height='1440' style="z-index:93;" id="fullpageApp" src="http://common.res.meizu.com/resources/common/images/default/space.gif" data-original="http://flymeos.res.meizu.com/resources/flymeos/images/flymeos/home/ie6/fullpage7.jpg">
                    <div class="box box_app_list animate_after " id="boxAppListIe6">
                        <span class="photo_tab current"><i></i></span>
                        <span class="weather_tab"><i></i></span>
                        <span class="calender_tab"><i></i></span>
                        <span class="note_tab"><i></i></span>
                        <span class="phone_tab"><i></i></span>
                        <span class="video_tab"><i></i></span>
                        <span class="safe_tab"><i></i></span>
                        <span class="draw_tab"><i></i></span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div id='flymeFooter' class='footerWrap'>
        <div class='footerInner'>
            <div class='footer-layer1'>
                <div class='footer-innerLink'>
                    <a href="http://www.meizu.com/about.html" target="_blank" title="关于Youths">关于Youths</a>
                    <img class="foot-line" src="https://https-res.meizu.com/resources/common/images/default/space.gif">
                    <a href="http://hr.meizu.com" target="_blank" title="工作机会">工作机会</a>
                    <img class="foot-line" src="https://https-res.meizu.com/resources/common/images/default/space.gif">
                    <a href="http://www.meizu.com/contact.html" target="_blank" title="联系我们">联系我们</a>
                    <img class="foot-line" src="https://https-res.meizu.com/resources/common/images/default/space.gif">
                    <a href="http://www.meizu.com/legalStatement.html" target="_blank" title="法律声明">法律声明</a>
                    <img class="foot-line" src="https://https-res.meizu.com/resources/common/images/default/space.gif">
                    <a href="javascript:void(0);" id="globalName" class="footer-language" title="简体中文">简体中文&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div class='footer-service'>
                    <span class='service-label'>客服热线</span>
                    <span class='service-num'>400-788-3333</span>
                    <a id='service-online' class='service-online' href="javascript:void(0);" title="在线客服">在线客服</a>
                </div>
                <div class='footer-outerLink'>
                    <a class='footer-sinaMblog' href="http://weibo.com/meizuflyme" target="_blank"><i class='i_icon'></i></a>
                    <a class='footer-tencentMblog' href="http://t.qq.com/mx_flyme" target="_blank"><i class='i_icon'></i></a>
                    <a id='footer-weChat' class='footer-weChat' href="javascript:void(0);" target="_blank"><i class='i_icon'></i></a>
                    <a class='footer-qzone' href="http://user.qzone.qq.com/2762957059" target="_blank" style='display:none;'><i class='i_icon'></i></a>
                </div>
                <div id="globalContainer" class="footer-language_menu">
                    <a href="http://www.flyme.cn" title="简体中文" class="checked">简体中文</a>
                    <a href="http://www.flyme.cn/hk/index.jsp" title="繁體中文" class="ClobalItem">繁體中文</a>
                    <a href="http://www.flyme.cn/tw/index.jsp" title="台灣繁體" class="ClobalItem">台灣繁體</a>
                    <a href="http://www.flyme.cn/en/index.jsp" title="English" class="ClobalItem">English</a>
                    <!--<a href="http://ru.meizu.com" title="Русский" class="ClobalItem">Русский</a>
                    <a href="http://il.meizu.com" title="עברית" class="ClobalItem" style="border-width:0px;">עברית</a>-->
                </div>
            </div>
            <div class='clear'></div>
            <div id='flymeCopyright' class="copyrightWrap">
                <div class="copyrightInner">
                    <span>©2014 Youths. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
    <div id="wechatPic"></div>
    <script type="text/javascript">
        ; (function () {
            var ga = document.createElement('script'), s;
            ga.type = 'text/javascript';
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'tongji.meizu.com/js/flow.js';
            s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>




    <script src="http://flymeos.res.meizu.com/resources/flymeos/js/index.min.js?t=1419490018079"></script>
    <script src="http://flymeos.res.meizu.com/resources/flymeos/js/base.js?t=1419490018079" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("img.lazy").lazyload();
        });
    </script>
</body>
</html>
